body{
	margin: 0;
	padding: 0;
	width: 100%;
}
h1 {
	font-family:"Arvo";
	font-weight:normal;
	font-size: 55px;
	text-align: center;
	color: #fff;
	margin: 0;
	padding: 0;
}
h2 {
	font-family:"Arvo";
	font-weight: normal;
	font-size: 40px;
	text-align: center;
	color: #fff;
	margin: 0;
	padding: 0;
}
h3 {
	font-family: Oswald;
	font-weight: normal;
	font-size: 16px;
	text-align: center;
	margin: 5px 0;
	padding: 0;
	z-index: 1;
	position: relative;
}

.center { margin: 0 auto; }
.content{ margin: 0 auto; width: 960px; }
.clear { clear: both; }

#header {
	width: 100%;
    background-color: white;
    color: black;
    /* background: url(../img/header-bg.png); */
    height: 80px;
    position: fixed;
    z-index: 9999;
}
#nav { width: 675px;
    float: right;
    margin-top: 20px; }
#logo a { color: black; text-decoration: none; float: left; font-size: 30px; margin-top: 20px; font-family:"Wellfleet"; font-weight: bold; }
#nav ul{
	list-style: none;
	display: block;
	margin: 0 auto;
	list-style: none;
}
#nav li{
	margin-top: 9px;
    float: left;
    padding-left: 21px;
    margin-right: 25px;
}
#nav li a { color: black;
    opacity: 0.6;
    font-size: 12px;
    text-decoration: none;
    font-family: 'Wellfleet';
    font-weight: bold;}
#nav li a.active { color: black; opacity:1; border-bottom: 2px solid #fff; }
#nav li a:hover { color: gray; opacity:1; }

.quotes {
	font-family: 'Goudy Bookletter 1911', serif;
	font-weight: normal;
	font-size: 30px;
	text-align: left;
	margin: 50px auto;
}

 .author_name_white { font-family:"Wellfleet"; margin: 70px 0 0 75px; color: #fff; font-size: 20px; } 
 .author_name_gray { font-family:"Wellfleet"; margin: 70px 0 0 75px; color: #94a4a4; font-size: 20px; } 
 .quotes_container { width: 800px; margin: 0 auto; }

#home, #about{ width: 100%; }
#home{
	background:url('../img/bg1.jpg') 50% 0 no-repeat fixed;
	color: #fff;
	height: 600px;
	margin: 0;
	padding: 200px 0 260px 0;
	background-size: cover;
}
#about{
	background: url(../img/bg2.jpg) 50% 0 no-repeat fixed;
	background-color: #fff;
	color: #333333;
	height: 300px;
	margin: 0 auto;
	overflow: hidden;
	padding: 200px 0;
}
#solutions{
	background: url(../img/bg1.jpg) 50% 0 no-repeat fixed;
	color: #fff;
	height: 600px;
	padding: 170px 0 0 0;
	background-size: cover;
}
#services{
	background-color: #fff;
	background: url(../img/bg2.jpg) 50% 0 no-repeat fixed;
	color: #333333;
	height: 300px;
	padding: 200px 0;
}
#design{
	background: url(../img/bg1.jpg) 50% 0 no-repeat fixed;
	height: 200px;
	margin: 0 auto;
	padding: 250px 0;
	color: #fff;
	background-size: cover;
}

#contacts{
	background: url(../img/bg2.jpg) 50% 0 no-repeat fixed;
	height: 200px;
	margin: 0 auto;
	padding: 250px 0;
	color: #fff;
	background-size: cover;
}
#copyright { color: #fff; font-family:"Wellfleet"; font-size: 14px; margin-top: 100px; text-align: center; }
#copyright a { text-decoration: none; color: #fff; }